# Virtual environment
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env

# IDE
.vscode/
.idea/

# Postman local workspace
.postman/
postman
postman/
# OS
.DS_Store
Thumbs.db